<ion-header>
  <ion-toolbar>
    <ion-title class="header">Home Info</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div>
      <ion-card style="background-color: #18B3D6A8; color: beige; margin-top: 80px; padding: 2px;">
        <ion-card-content>
          <h1>Home Buy/Rent App</h1>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #5127CA; color: beige; padding: 2px;">
        <ion-card-content>
          <h1>Homes For Sale / Home Info</h1>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="ios">
          <ion-slide *ngIf="HomeForSale">
            <ion-img src="{{homes.image1}}.png" style="width: 100%;"></ion-img>
          </ion-slide>
          <ion-slide *ngIf="HomeForSale">
            <ion-img src="{{homes.image2}}.png" style="width: 100%;"></ion-img>
          </ion-slide>
          <ion-slide *ngIf="HomeForSale">
            <ion-img src="{{homes.image3}}.png" style="width: 100%;"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-card>

      <ion-card *ngIf="HomeForSale" style="background-color:#18B3D6A8; border: #5127CA solid 3px;">
        <ion-card-content class="align-cards">
          <ion-img src="address.png" class="image-size"></ion-img>
          <a class="text">{{HomeForSale.location}}</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="price_tag.png" class="image-size"></ion-img>
          <a class="text">{{HomeForSale.price}} $</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="area_chart.png" class="image-size"></ion-img>
          <a class="text">{{HomeForSale.area}} meter square</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <a class="text">Specifications:</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-card class="set-background">
            <ion-card-content class="align-cards">
              <ion-img src="living_room.png" class="image-size"></ion-img>
              <a class="text">{{HomeForSale.living_rooms}}</a>
            </ion-card-content>
            <ion-card-content>
              <a class="text2">Living Rooms</a>
            </ion-card-content>
          </ion-card>
          <ion-card class="set-background">
            <ion-card-content class="align-cards">
              <ion-img src="bedroom.png" class="image-size"></ion-img>
              <a class="text">{{HomeForSale.bedrooms}}</a>
            </ion-card-content>
            <ion-card-content>
              <a class="text2">Bedrooms</a>
            </ion-card-content>
          </ion-card>
          <ion-card class="set-background">
            <ion-card-content class="align-cards">
              <ion-img src="bath.png" class="image-size"></ion-img>
              <a class="text">{{HomeForSale.bathrooms}}</a>
            </ion-card-content>
            <ion-card-content>
              <a class="text2">Bathrooms</a>
            </ion-card-content>
          </ion-card>
        </ion-card-content>

        <ion-card-content class="align-cards">
          <ion-img src="house.png" class="image-size"></ion-img>
          <a class="text">{{HomeForSale.home_type}}</a>
        </ion-card-content>
        <ion-card-content *ngIf="UserHome" class="align-cards">
          <ion-img src="contact.png" class="image-size"></ion-img>
          <a class="text">{{UserHome.first_name}} {{UserHome.last_name}}</a>
        </ion-card-content>
        <ion-card-content *ngIf="UserHome" class="align-cards">
          <ion-img src="email.png" class="image-size"></ion-img>
          <a class="text">{{UserHome.email_address}}</a>
        </ion-card-content>
        <ion-card-content *ngIf="UserHome" class="align-cards">
          <ion-img src="phone_book.png" class="image-size"></ion-img>
          <a class="text">{{UserHome.phone_number}}</a>
        </ion-card-content>
      </ion-card>

      <ion-card class="card-center" style="background-color: #18B3D6A8; width: fit-content;">
        <ion-card-content class="menu-bar-item">
          <ion-img src="home_bar_icon.png" class="image-size" (click)="GoToHomePage()"></ion-img>
          <a class="text-menu">Home</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="user_icon.png" class="image-size" (click)="GoToProfile()"></ion-img>
          <a class="text-menu">Profile</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="home_icon.png" class="image-size" (click)="GoToHomesForSale()"></ion-img>
          <a class="text-menu">Rent</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="sign_out.png" class="image-size" (click)="GoToLogIn()"></ion-img>
          <a class="text-menu">Exit</a>
        </ion-card-content>
      </ion-card>

    </div>
  </ion-content>
</body>