
.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(user_icon.png);
    background-image: url(sign_out.png);
    background-image: url(home_icon.png);
    background-image: url(home_bar_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.header{
    background-color: rgb(43, 180, 180);
    color: beige;
}
.center-item{
    text-align: center;
    color: #5127CA;
}
.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    color: #5127CA;
}
.image{
    height: 80px;
    width: 50px;
    align-items: center;
}
.card-view{
    background-color: #5127CA;
    border: #5127CA solid 5px;
}
.card-view2{
    background-color:rgb(43, 180, 180);
    border:rgb(43, 180, 180) solid 5px;
}
.chip-view{
    background-color: #5127CA;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 50px;
    border: #5127CA solid 2px;
}
.chip-view2{
    background-color:rgb(43, 180, 180);
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 50px;
    border:rgb(43, 180, 180) solid 5px;
}
.card-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button-text{
    font-size: 24px;
    color: beige;
}
.label1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-size: cover;
    font-size: 15px;
    font-weight: bold;
    width: 150px;
}
.label2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: cover;
    font-size: 15px;
    font-weight: bold;
    color: blue;
    width: 65px;
}
.align-labels{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-cards{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.image-size{
    width: 20px;
    height: 20px;
    margin: 5px;
}
.text{
    font-size: 15px;
    color: beige;
}
.text-menu{
    font-size: 14px;
    color: beige;
    text-align: center;
    justify-content: center;
    display: flex;
}
ion-card-content{
    padding: 0 !important;
}
.menu-bar-item{
    margin-left: 13px;
    margin-right: 13px;
}
.set-background{
    background-color: rgb(43, 180, 180);
    width: 150px;
    margin: 10px;
}
.text2{
    font-size: 10px;
    color:beige;
    display: flex;
    justify-content: center;
    text-align: center;
}
.content1{
    background-color: #5127CA;
    border: #5127CA solid 3px;
}
.content2{
    background-color: rgb(43, 180, 180);
    border: rgb(43, 180, 180) solid 3px;
}