<ion-header>
  <ion-toolbar>
    <ion-title class="header">Rental Homes Filter</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div>
      <ion-card style="background-color: #18B3D6A8; color: beige; margin-top: 80px; padding: 2px;">
        <ion-card-content>
          <h1>Home Buy/Rent App</h1>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #5127CA; color: beige; padding: 2px;">
        <ion-card-content>
          <h1>Homes For Rent / Filter</h1>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #18B3D6A8; color: beige; padding: 2px;">
        <ion-card-content>
          <h1>Filter results by:</h1>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <a>Price:</a>
        </ion-card-content>
        <ion-card-content>
          <ion-list>
            <ion-radio-group name="price" value="price1">
              <ion-list-header>
                <ion-label>Choose prices between:</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>0$-100$ / month</ion-label>
                <ion-radio value="price1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>100$-150$ / month</ion-label>
                <ion-radio value="price2"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>150$-200$ / month</ion-label>
                <ion-radio value="price3"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>200$-250$ / month</ion-label>
                <ion-radio value="price4"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>250$-400$ / month</ion-label>
                <ion-radio value="price5"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <a>Location:</a>
          <ion-input type="text" placeholder="eg. Beirut,Lebanon" style="background-color: #18B3D6A8;"></ion-input>
        </ion-card-content>

        <ion-card-content>
          <a>Area: (in meter square)</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <a>Between </a><ion-input type="numbers" placeholder="eg. 100" name="min-area" style="background-color: #18B3D6A8;"></ion-input><a> and </a><ion-input type="number" placeholder="eg. 200" style="background-color: #18B3D6A8;"></ion-input>
        </ion-card-content>

        <ion-card-content class="align-cards">
          <a>Number of Bedrooms:</a>
          <ion-input type="number" placeholder="eg. 3" style="background-color: #18B3D6A8;" name="bedrooms"></ion-input>
        </ion-card-content>

        <ion-card-content class="align-cards">
          <a>Number of Living Rooms:</a>
          <ion-input type="number" placeholder="eg. 2" style="background-color: #18B3D6A8;" name="living_rooms"></ion-input>
        </ion-card-content>

        <ion-card-content class="align-cards">
          <a>Number of Bathrooms:</a>
          <ion-input type="number" placeholder="eg. 2" style="background-color: #18B3D6A8;" name="bathrooms"></ion-input>
        </ion-card-content>

        <ion-card-content class="align-cards">
          <a>Home Type:</a>
          <ion-input type="text" placeholder="eg. Building or Villa" style="background-color: #18B3D6A8;" name="home_type"></ion-input>
        </ion-card-content>

        <ion-card-content style="display: flex; justify-content: center; align-items: center;">
          <ion-button (click)="GoToHomesForRent()" expand="block" fill="clear" shape="round" style="background-color: #5127CA;">
            Apply
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card class="card-center" style="background-color: #18B3D6A8; width: fit-content;">
        <ion-card-content class="menu-bar-item">
          <ion-img src="home_bar_icon.png" class="image-size" (click)="GoToHomePage()"></ion-img>
          <a class="text-menu">Home</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="user_icon.png" class="image-size" (click)="GoToProfile()"></ion-img>
          <a class="text-menu">Profile</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="home_icon.png" class="image-size" (click)="GoToHomesForRent()"></ion-img>
          <a class="text-menu">Rent</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="sign_out.png" class="image-size" (click)="GoToLogIn()"></ion-img>
          <a class="text-menu">Exit</a>
        </ion-card-content>
      </ion-card>

    </div>
  </ion-content>
</body>