
.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(home.png);
    background-image: url(home_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.sign-up-button{
    color: #5127CA;
}
.header{
    background-color: #18B3D6A8;
    color: beige;
}
.center-item{
    text-align: center;
    color: #5127CA;
}
.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    color: #5127CA;
}
.image{
    height: 50px;
    width: 30px;
    align-items: center;
}
.card-view{
    background-color: #5127CA;
}
.chip-view{
    background-color: #5127CA;
    justify-content:flex-start;
    align-items: center;
    width: 800px;
}
.card-center{
    display: flex;
    justify-content: center;
    align-items: center;
}