<ion-header>
  <ion-toolbar>
    <ion-title class="header">Home Page</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div>
      <ion-card style="background-color: #18B3D6A8; color: beige">
        <ion-card-content>
          <h1>Home & Car Buy/Rent App</h1>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #5127CA; color: beige">
        <ion-card-content>
          <h1>Home Page / Homes</h1>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-img [src]="home-img.src"></ion-img>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</body>