<ion-header>
  <ion-toolbar>
    <ion-title class="header">Home Page</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div>
      <ion-card style="background-color: #18B3D6A8; color: beige; margin-top: 80px;">
        <ion-card-content>
          <h1>Home & Car Buy/Rent App</h1>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #5127CA; color: beige">
        <ion-card-content>
          <h1>Home Page / Homes</h1>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-img src="home.png"></ion-img>
        </ion-card-content>
      </ion-card>
      <ion-card class="card-center">
        <ion-card-content>
          <ion-chip class="chip-view">
            <ion-card class="card-view">
              <ion-card-content>
                <a>Homes</a>
              </ion-card-content>
            </ion-card>
            <ion-card class="card-view">
              <ion-card-content>
                <ion-img src="home_icon.png" class="image"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-chip>
          <ion-chip class="chip-view2">
            <ion-card class="card-view2">
              <ion-card-content>
                <a>Cars</a>
              </ion-card-content>
            </ion-card>
            <ion-card class="card-view2">
              <ion-card-content>
                <ion-img src="car_icon.png" class="image"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-chip>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content class="align-labels">
          <ion-label class="label1">Homes For Sale</ion-label>
          <ion-label class="label2" onclick="HomesForSale">See All</ion-label>
        </ion-card-content>
      </ion-card>

      <ion-card style="background-color:#18B3D6A8;">
        <ion-card-content>
          <ion-img src="home.png" style="width: 100%;"></ion-img>
        <ion-card-content class="align-cards">
          <ion-img src="address.png" style="height: 20px;"></ion-img>
          <a style="font-size: 15px;">Bhamdoun, Lebanon</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="price_tag.png" style="height: 20px;"></ion-img>
          <a style="font-size: 15px;">150,000 $</a>
        </ion-card-content>
      </ion-card>

      <ion-card style="background-color:#18B3D6A8;">
        <ion-card-content>
          <ion-img src="home.png" style="width: 100%;"></ion-img>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="address.png" style="height: 20px;"></ion-img>
          <a style="font-size: 15px;">Bhamdoun, Lebanon</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="price_tag.png" style="height: 20px;"></ion-img>
          <a style="font-size: 15px;">150,000 $</a>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color:#18B3D6A8;">
        <ion-card-content>
          <ion-img src="home.png" style="width: 100%;"></ion-img>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="address.png" style="height: 20px;"></ion-img>
          <a style="font-size: 15px;">Bhamdoun, Lebanon</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="price_tag.png" style="height: 20px;"></ion-img>
          <a style="font-size: 15px;">150,000 $</a>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content class="align-labels">
          <ion-label class="label1">Homes For Rent</ion-label>
          <ion-label class="label2" onclick="HomesForSale">See All</ion-label>
        </ion-card-content>
      </ion-card>

      <ion-card style="background-color:#18B3D6A8;">
        <ion-card-content>
          <ion-img src="home.png" style="width: 100%;"></ion-img>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="address.png" style="height: 20px;"></ion-img>
          <a style="font-size: 15px;">Bhamdoun, Lebanon</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="price_tag.png" style="height: 20px;"></ion-img>
          <a style="font-size: 15px;">150,000 $ / year</a>
        </ion-card-content>
      </ion-card>

      <ion-card style="background-color:#18B3D6A8;">
        <ion-card-content>
          <ion-img src="home.png" style="width: 100%;"></ion-img>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="address.png" style="height: 20px;"></ion-img>
          <a style="font-size: 15px;">Bhamdoun, Lebanon</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="price_tag.png" style="height: 20px;"></ion-img>
          <a style="font-size: 15px;">150,000 $ / year</a>
        </ion-card-content>
      </ion-card>

      <ion-card style="background-color:#18B3D6A8;">
        <ion-card-content>
          <ion-img src="home.png" style="width: 100%;"></ion-img>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="address.png" style="height: 20px;"></ion-img>
          <a style="font-size: 15px;">Bhamdoun, Lebanon</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="price_tag.png" style="height: 20px;"></ion-img>
          <a style="font-size: 15px;">150,000 $ / year</a>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</body>