<ion-header>
  <ion-toolbar>
    <ion-title class="header">My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div>
      <ion-card style="background-color: #18B3D6A8; color: beige; margin-top: 80px; padding: 2px;">
        <ion-card-content>
          <h1>Home & Car Buy/Rent App</h1>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #5127CA; color: beige; padding: 2px;">
        <ion-card-content>
          <h1>My Profile</h1>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-img src="user_tag.png" style="height: 150px;"></ion-img>
        </ion-card-content>
      </ion-card>

      <ion-card style="background-color:#5127CA; border:#5127CA solid 3px;">
        <ion-card-content class="align-cards">
          <a class="text">Name:</a>
          <a class="text">Mr.X</a>
        </ion-card-content>
      </ion-card>

      <ion-card style="background-color:#18B3D6A8; border:#18B3D6A8 solid 3px;">
        <ion-card-content class="align-cards">
          <a class="text">Email Address:</a>
          <a class="text">X_123@gmail.com</a>
        </ion-card-content>
      </ion-card>

      <ion-card style="background-color:#5127CA; border:#5127CA solid 3px;">
        <ion-card-content class="align-cards">
          <a class="text">Phone Number:</a>
          <a class="text">+961 03 333 333</a>
        </ion-card-content>
      </ion-card>

      <ion-card style="background-color:#18B3D6A8; border:#18B3D6A8 solid 3px;">
        <ion-card-content class="align-cards">
          <a class="text">Email Address:</a>
          <a class="text">X_123@gmail.com</a>
        </ion-card-content>
      </ion-card>

      <ion-card style="background-color:#5127CA; border:#5127CA solid 3px;">
        <ion-card-content class="align-cards">
          <a class="text">User Type:</a>
          <a class="text">Seller</a>
        </ion-card-content>
      </ion-card>

      <ion-card class="card-center" style="margin: 0 !important;">
        <ion-card-content class="align-cards">
          <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" style="background-color: #5127CA;">
            <a>Add Home</a>
          </ion-button>
        </ion-card-content>
      </ion-card>
      <ion-card class="card-center" style="margin: 0 !important;">
        <ion-card-content class="align-cards">
          <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" style="background-color: #5127CA;">
            <a>Add Car</a>
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card class="card-center" style="margin: 0 !important;">
        <ion-card-content class="align-cards">
          <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" style="background-color: #5127CA;">
            <a>Edit</a>
          </ion-button>
        </ion-card-content>
      </ion-card>
      <ion-card class="card-center" style="margin: 0 !important;">
        <ion-card-content class="align-cards">
          <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" style="background-color: #5127CA;">
            <a>Sales List</a>
          </ion-button>
        </ion-card-content>
      </ion-card>




      <ion-card class="card-center" style="background-color: #18B3D6A8; width: fit-content;">
        <ion-card-content class="menu-bar-item">
          <ion-img src="home_bar_icon.png" class="image-size"></ion-img>
          <a class="text-menu">Home</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="user_icon.png" class="image-size"></ion-img>
          <a class="text-menu">Profile</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="add_to_favorites.png" class="image-size"></ion-img>
          <a class="text-menu">Favorites</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="sign_out.png" class="image-size"></ion-img>
          <a class="text-menu">Exit</a>
        </ion-card-content>
      </ion-card>

    </div>
  </ion-content>
</body>