<ion-header>
  <ion-toolbar>
    <ion-title class="header">Add Car</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div>
      <ion-card style="background-color: #18B3D6A8; color: beige; margin-top: 80px; padding: 2px;">
        <ion-card-content>
          <h1>Home & Car Buy/Rent App</h1>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #5127CA; color: beige; padding: 2px; margin-bottom: 50px;">
        <ion-card-content>
          <h1>My Profile / Add Car</h1>
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-content class="content1">
          <a class="text">Image1 (required):</a>
        </ion-card-content>
      </ion-card>
      <ion-card style="margin-bottom: 30px;">
        <ion-card-content class="content2">
          <ion-input type="file" placeholder="" name="image1" required></ion-input>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content class="content1">
          <a class="text">Image2 (optional):</a>
        </ion-card-content>
      </ion-card>
      <ion-card style="margin-bottom: 30px;">
        <ion-card-content class="content2">
          <ion-input type="file" placeholder="" name="image2"></ion-input>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content class="content1">
          <a class="text">Image3 (optional):</a>
        </ion-card-content>
      </ion-card>
      <ion-card style="margin-bottom: 30px;">
        <ion-card-content class="content2">
          <ion-input type="file" placeholder="" name="image3"></ion-input>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item class="content1">
          <ion-label position="floating" class="input">Car Name:</ion-label>
          <ion-input type="text" name="car_name" placeholder="eg. Mercedes" required></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item class="content1">
          <ion-label position="floating" class="input">Price: (in dollars $)</ion-label>
          <ion-input type="number" name="price" placeholder="eg. 20000" required></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item class="content1">
          <ion-label position="floating" class="input">Location:</ion-label>
          <ion-input type="text" name="location" placeholder="eg. Beirut,Lebanon" required></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item class="content1">
          <ion-label position="floating" class="input">Mileage:</ion-label>
          <ion-input type="number" name="mileage" placeholder="eg. 20000" required></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item class="content1">
          <ion-label position="floating" class="input">Seats Capacity:</ion-label>
          <ion-input type="number" name="seats_capacity" placeholder="eg. 4" required></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item class="content1">
          <ion-label position="floating" class="input">Engine:</ion-label>
          <ion-input type="number" name="engine" placeholder="eg. 6" required></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item class="content1">
          <ion-label position="floating" class="input">Car Type:</ion-label>
          <ion-input type="text" name="car_type" placeholder="eg. Sport or Range" required></ion-input>
        </ion-item>
      </ion-card>

      <ion-list style="border: #5127CA solid 3px;">
        <ion-radio-group name="sale_type" value="sale">
          <ion-list-header>
            <ion-label>Sale Type:</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Sale</ion-label>
            <ion-radio value="sale"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Rent</ion-label>
            <ion-radio value="rent"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-card class="card-center" style="margin: 0 !important;">
        <ion-card-content class="align-cards">
          <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" style="background-color: #5127CA;">
            <a>Add Car</a>
          </ion-button>
        </ion-card-content>
      </ion-card>
      
      <ion-card class="card-center" style="background-color: #18B3D6A8; width: fit-content;">
        <ion-card-content class="menu-bar-item">
          <ion-img src="home_bar_icon.png" class="image-size"></ion-img>
          <a class="text-menu">Home</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="user_icon.png" class="image-size"></ion-img>
          <a class="text-menu">Profile</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="add_to_favorites.png" class="image-size"></ion-img>
          <a class="text-menu">Favorites</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="sign_out.png" class="image-size"></ion-img>
          <a class="text-menu">Exit</a>
        </ion-card-content>
      </ion-card>
      
    </div>
  </ion-content>
</body>