<ion-header>
  <ion-toolbar>
    <ion-title class="header">Cars For Rent</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div>
      <ion-card style="background-color: #18B3D6A8; color: beige; margin-top: 80px; padding: 2px;">
        <ion-card-content>
          <h1>Home & Car Buy/Rent App</h1>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #5127CA; color: beige; padding: 2px;">
        <ion-card-content>
          <h1>Cars For Rent</h1>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #18B3D6A8; color: beige; padding: 2px;">
        <ion-card-content>
          <h1>Filter your page:</h1>
          <ion-img src = "filter.png" class="image-size" style="justify-content: end;" (click)="GoToCarsForRentFilter()"></ion-img>
        </ion-card-content>
      </ion-card>

      <ion-card *ngFor="let x of carsForRent" style="background-color:#18B3D6A8; border: #5127CA solid 3px;">
        <ion-card-content>
          <ion-img src="car.jpg" style="width: 100%;"></ion-img>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="car_icon_img.png" class="image-size"></ion-img>
          <a class="text">{{x.car_name}}</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="price_tag.png"  class="image-size"></ion-img>
          <a class="text">{{x.price}}</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="info.png" class="image-size"></ion-img>
          <a class="text" style="color:#5127CA" (click)="GoToCarsForRentMoreInfo()">See more information</a>
          <ion-img src="add_to_favorites.png" class="image-size" style="justify-content: end;"></ion-img>
        </ion-card-content>
      </ion-card>

      <!-- <ion-card style="background-color:#18B3D6A8; border: #5127CA solid 3px;">
        <ion-card-content>
          <ion-img src="car.jpg" style="width: 100%;"></ion-img>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="car_icon_img.png" class="image-size"></ion-img>
          <a class="text">Mercedes</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="price_tag.png"  class="image-size"></ion-img>
          <a class="text">20,000 $</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="info.png" class="image-size"></ion-img>
          <a class="text" style="color:#5127CA" (click)="GoToCarsForRentMoreInfo()">See more information</a>
          <ion-img src="add_to_favorites.png" class="image-size" style="justify-content: end;"></ion-img>
        </ion-card-content>
      </ion-card> -->

      <ion-card class="card-center" style="background-color: #18B3D6A8; width: fit-content;">
        <ion-card-content class="menu-bar-item">
          <ion-img src="home_bar_icon.png" class="image-size" (click)="GoToHomePage()"></ion-img>
          <a class="text-menu">Home</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="user_icon.png" class="image-size" (click)="GoToProfile()"></ion-img>
          <a class="text-menu">Profile</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="add_to_favorites.png" class="image-size" (click)="GoToFavorites()"></ion-img>
          <a class="text-menu">Favorites</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="sign_out.png" class="image-size" (click)="GoToLogIn()"></ion-img>
          <a class="text-menu">Exit</a>
        </ion-card-content>
      </ion-card>
      
    </div>
  </ion-content>
</body>