<ion-header>
  <ion-toolbar>
    <ion-title class="header">Welcome to Home & Car Buy/Rent App</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div class="centered-content">
      <ion-card class="login">
        <ion-card-header>
          <ion-card-subtitle class="center-item">Welcome to Home & Car Buy/Rent App</ion-card-subtitle>
          <ion-card-title class="center-item">Log In</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating" class="input">Email Address:</ion-label>
            <ion-input name="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" class="input">Password:</ion-label>
            <ion-input name="password"></ion-input>
          </ion-item>
          <ion-button color="primary" class="login-button" (click)="GoToHomePage()">Log In</ion-button>
          <br>
          <a class="center-item">Do not have an account?</a><a class="sign-up-button" (click)="GoToRegister()"><strong>Sign Up</strong></a>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</body>