
.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
}
.register{
    background-color: #18B3D6A8;
    margin-top: 70px;
    width: 300px;
}
.sign-up-button{
    color: blue;
}
.header{
    background-color: #18B3D6A8;
    color: beige;
}
.center-item{
    text-align: center;
    color: #5127CA;
}
.submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    color: #5127CA;
}