<ion-header>
  <ion-toolbar>
    <ion-title class="header">Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div class="centered-content">
      <ion-card class="register">
        <ion-card-header>
          <ion-card-subtitle>Welcome to Home & Car Buy/Rent App</ion-card-subtitle>
          <ion-card-title class="center-item">Sign Up</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating" class="input">First Name:</ion-label>
            <ion-input name="first_name" aria-required="true"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating" class="input">Last Name:</ion-label>
            <ion-input name="last_name" aria-required="true"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating" class="input">Email Address:</ion-label>
            <ion-input name="email_address" aria-required="true"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating" class="input">Phone Number:</ion-label>
            <ion-input name="phone_number" aria-required="true"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating" class="input">Password:</ion-label>
            <ion-input name="password" aria-required="true"></ion-input>
          </ion-item>
          <br>
          <ion-button color="primary" class="submit-button" href="login">Submit</ion-button>
          <br>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</body>