<ion-header>
  <ion-toolbar>
    <ion-title class="header">Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div class="centered-content">
      <ion-card class="login">
        <ion-card-header>
          <ion-card-subtitle>Welcome to Home & Car Buy/Rent App</ion-card-subtitle>
          <ion-card-title class="center-item">Sign Up</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating" class="input">First Name:</ion-label>
            <ion-input name="first_name"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating" class="input">Last Name:</ion-label>
            <ion-input name="last_name"></ion-input>
          </ion-item>
          <ion-button color="primary" class="login-button">Log In</ion-button>
          <br>
          <a>Do not have an account?</a><a class="sign-up-button" href="register"><strong>Sign Up</strong></a>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</body>