<ion-header>
  <ion-toolbar>
    <ion-title class="header">Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div class="centered-content">
      <ion-card class="register">
        <ion-card-header>
          <ion-card-subtitle class="center-item">Welcome to Home & Car Buy/Rent App</ion-card-subtitle>
          <ion-card-title class="center-item">Sign Up</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <ion-item>
              <ion-label position="floating" class="input">First Name:</ion-label>
              <ion-input ngModel type="text" name="first_name" required></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label position="floating" class="input">Last Name:</ion-label>
              <ion-input ngModel type="text" name="last_name" requires></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label position="floating" class="input">Email Address:</ion-label>
              <ion-input ngModel type="email" name="email_address" required></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label position="floating" class="input">Phone Number:</ion-label>
              <ion-input ngModel type="tel" name="phone_number" required></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-label position="floating" class="input">Password:</ion-label>
              <ion-input ngModel type="password" name="password" required></ion-input>
            </ion-item>
            <br>
            <ion-list style="border: #5127CA solid 3px;">
              <ion-radio-group ngModel name="user_type" value="seller">
                <ion-list-header>
                  <ion-label>User Type:</ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-label>Seller</ion-label>
                  <ion-radio value="seller"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Buyer</ion-label>
                  <ion-radio value="buyer"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
            <ion-button color="primary" type="submit" class="submit-button">Submit</ion-button>
            <br>
          </form>
          
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</body>