<ion-header>
  <ion-toolbar>
    <ion-title class="header">Cars For Sale More Info</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div>
      <ion-card style="background-color: #18B3D6A8; color: beige; margin-top: 80px; padding: 2px;">
        <ion-card-content>
          <h1>Home & Car Buy/Rent App</h1>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #5127CA; color: beige; padding: 2px;">
        <ion-card-content>
          <h1>Cars For Sale / Car Info</h1>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-img src="car.jpg"></ion-img>
        </ion-card-content>
      </ion-card>

      <ion-card style="background-color:#18B3D6A8; border: #5127CA solid 3px;">
        <ion-card-content class="align-cards">
          <ion-img src="car_icon_img.png" class="image-size"></ion-img>
          <a class="text">Mercedes</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="price_tag.png" class="image-size"></ion-img>
          <a class="text">20,000 $</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="address.png" class="image-size"></ion-img>
          <a class="text">Ajaltoun, Lebanon</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <a class="text">Specifications:</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-card class="set-background">
            <ion-card-content class="align-cards">
              <ion-img src="mileage.png" class="image-size"></ion-img>
              <a class="text2">20000</a>
            </ion-card-content>
            <ion-card-content>
              <a class="text2">Mileage</a>
            </ion-card-content>
          </ion-card>
          <ion-card class="set-background">
            <ion-card-content class="align-cards">
              <ion-img src="customer.png" class="image-size"></ion-img>
              <a class="text">4</a>
            </ion-card-content>
            <ion-card-content>
              <a class="text2">Capacity</a>
            </ion-card-content>
          </ion-card>
          <ion-card class="set-background">
            <ion-card-content class="align-cards">
              <ion-img src="car_engine.png" class="image-size"></ion-img>
              <a class="text">6</a>
            </ion-card-content>
            <ion-card-content>
              <a class="text2">Engine</a>
            </ion-card-content>
          </ion-card>
        </ion-card-content>

        <ion-card-content class="align-cards">
          <ion-img src="car_icon.png" class="image-size"></ion-img>
          <a class="text">Car Coupe</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="contact.png" class="image-size"></ion-img>
          <a class="text">Mr.X</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="email.png" class="image-size"></ion-img>
          <a class="text">X_123@gmail.com</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <ion-img src="phone_book.png" class="image-size"></ion-img>
          <a class="text">+961 03 333 333</a>
        </ion-card-content>
        <ion-card-content style="justify-content: end; display: flex;">
          <ion-img src="add_to_favorites.png" class="image-size"></ion-img>
        </ion-card-content>
      </ion-card>

      <ion-card class="card-center" style="background-color: #18B3D6A8; width: fit-content;">
        <ion-card-content class="menu-bar-item">
          <ion-img src="home_bar_icon.png" class="image-size"></ion-img>
          <a class="text-menu">Home</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="user_icon.png" class="image-size"></ion-img>
          <a class="text-menu">Profile</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="add_to_favorites.png" class="image-size"></ion-img>
          <a class="text-menu">Favorites</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="sign_out.png" class="image-size"></ion-img>
          <a class="text-menu">Exit</a>
        </ion-card-content>
      </ion-card>

    </div>
  </ion-content>
</body>