<ion-header>
  <ion-toolbar>
    <ion-title class="header">Home Page</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div>
      <ion-card style="background-color: #18B3D6A8; color: beige; margin-top: 80px; padding: 2px;">
        <ion-card-content>
          <h1>Home & Car Buy/Rent App</h1>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #5127CA; color: beige; padding: 2px;">
        <ion-card-content>
          <h1>Cars For Rent / Filter</h1>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #18B3D6A8; color: beige; padding: 2px;">
        <ion-card-content>
          <h1>Filter results by:</h1>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <a>Price:</a>
        </ion-card-content>
        <ion-card-content>
          <ion-list>
            <ion-radio-group name="price" value="price1">
              <ion-list-header>
                <ion-label>Choose prices between:</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>0$-50$ / month</ion-label>
                <ion-radio value="price1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>50$-75$ / month</ion-label>
                <ion-radio value="price2"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>75$-100$ / month</ion-label>
                <ion-radio value="price3"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>100$-200$ / month</ion-label>
                <ion-radio value="price4"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>200$-400$ / month</ion-label>
                <ion-radio value="price5"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <a>Name:</a>
          <ion-input type="text" placeholder="eg. Mercedes" style="background-color: #18B3D6A8;"></ion-input>
        </ion-card-content>

        <ion-card-content>
          <a>Mileage:</a>
        </ion-card-content>
        <ion-card-content class="align-cards">
          <a>Between </a><ion-input type="numbers" placeholder="eg. 5000" name="min-mileage" style="background-color: #18B3D6A8;"></ion-input><a> and </a><ion-input type="number" name="max-mileage" placeholder="eg. 200000" style="background-color: #18B3D6A8;"></ion-input>
        </ion-card-content>

        <ion-card-content class="align-cards">
          <a>Number of Seats Capacity:</a>
          <ion-input type="number" placeholder="eg. 4" style="background-color: #18B3D6A8;" name="seats"></ion-input>
        </ion-card-content>

        <ion-card-content class="align-cards">
          <a>Number of Engine:</a>
          <ion-input type="number" placeholder="eg. 6" style="background-color: #18B3D6A8;" name="engine"></ion-input>
        </ion-card-content>

        <ion-card-content class="align-cards">
          <a>Car Type:</a>
          <ion-input type="text" placeholder="eg. Coupe/Range" style="background-color: #18B3D6A8;" name="car_type"></ion-input>
        </ion-card-content>

        <ion-card-content style="display: flex; justify-content: center; align-items: center;">
          <ion-button (click)="GoToCarsForRent()" expand="block" fill="clear" shape="round" style="background-color: #5127CA;">
            Apply
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card class="card-center" style="background-color: #18B3D6A8; width: fit-content;">
        <ion-card-content class="menu-bar-item">
          <ion-img src="home_bar_icon.png" class="image-size" (click)="GoToHomePage()"></ion-img>
          <a class="text-menu">Home</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="user_icon.png" class="image-size" (click)="GoToProfile()"></ion-img>
          <a class="text-menu">Profile</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="add_to_favorites.png" class="image-size" (click)="GoToFavorites()"></ion-img>
          <a class="text-menu">Favorites</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="sign_out.png" class="image-size" (click)="GoToLogIn()"></ion-img>
          <a class="text-menu">Exit</a>
        </ion-card-content>
      </ion-card>

    </div>
  </ion-content>
</body>