<ion-header>
  <ion-toolbar>
    <ion-title class="header">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-content>
    <div>
      <ion-card style="background-color: #18B3D6A8; color: beige; margin-top: 80px; padding: 2px;">
        <ion-card-content>
          <h1>Home Buy/Rent App</h1>
        </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #5127CA; color: beige; padding: 2px;">
        <ion-card-content>
          <h1>My Profile / Edit Profile</h1>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-img src="user_tag.png" style="height: 150px;"></ion-img>
        </ion-card-content>
      </ion-card>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <ion-card style="background-color:#5127CA; border:#5127CA solid 3px;">
          <ion-card-content class="align-cards">
            <a class="text">First Name:</a>
          </ion-card-content>
          <ion-card-content *ngIf="User" class="align-cards">
            <a class="text">Current:</a>
            <ion-input type="text" placeholder="" name="name" value="{{User.first_name}}"></ion-input>
          </ion-card-content>
          <ion-card-content class="align-cards">
            <a class="text">New:</a>
            <ion-input ngModel type="text" placeholder="" name="first_name" value=""></ion-input>
          </ion-card-content>
        </ion-card>

        <ion-card style="background-color:#18B3D6A8; border: #18B3D6A8 solid 3px;">
          <ion-card-content class="align-cards">
            <a class="text">Last Name:</a>
          </ion-card-content>
          <ion-card-content *ngIf="User" class="align-cards">
            <a class="text">Current:</a>
            <ion-input type="text" placeholder="" name="name" value="{{User.last_name}}"></ion-input>
          </ion-card-content>
          <ion-card-content class="align-cards">
            <a class="text">New:</a>
            <ion-input ngModel type="text" placeholder="" name="last_name" value=""></ion-input>
          </ion-card-content>
        </ion-card>

        <ion-card style="background-color:#5127CA; border:#5127CA solid 3px;">
          <ion-card-content class="align-cards">
            <a class="text">Email Address:</a>
          </ion-card-content>
          <ion-card-content *ngIf="User" class="align-cards">
            <a class="text">Current:</a>
            <ion-input type="email" placeholder="" name="email" value="{{User.email_address}}"></ion-input>
          </ion-card-content>
          <ion-card-content class="align-cards">
            <a class="text">New:</a>
            <ion-input ngModel type="text" placeholder="" name="email_address" value=""></ion-input>
          </ion-card-content>
        </ion-card>

        <ion-card style="background-color:#18B3D6A8; border:#18B3D6A8 solid 3px;">
          <ion-card-content class="align-cards">
            <a class="text">Phone Number:</a>
          </ion-card-content>
          <ion-card-content *ngIf="User" class="align-cards">
            <a class="text">Current:</a>
            <ion-input type="tel" placeholder="" name="phone_number" value="{{User.phone_number}}"></ion-input>
          </ion-card-content>
          <ion-card-content class="align-cards">
            <a class="text">New:</a>
            <ion-input ngModel type="text" placeholder="" name="phone_number" value=""></ion-input>
          </ion-card-content>
        </ion-card>

        <ion-card style="background-color:#5127CA; border:#5127CA solid 3px;">
          <ion-card-content class="align-cards">
            <a class="text">User Type:</a>
          </ion-card-content>
          <ion-card-content class="align-cards">
            <ion-item>
              <ion-label style="font-size: 15px;">User Type</ion-label>
              <ion-select value="seller" multiple="false" placeholder="User Type">
                <ion-select-option value="seller" style="font-size: 15px;">Seller</ion-select-option>
                <ion-select-option value="buyer" style="font-size: 15px;">Buyer</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <ion-card class="card-center" style="margin: 0 !important;">
          <ion-card-content class="align-cards">
            <ion-button type="submit" expand="block" fill="clear" shape="round" style="background-color: #5127CA;">
              <a>Apply Changes</a>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </form>

      <ion-card class="card-center" style="background-color: #18B3D6A8; width: fit-content;">
        <ion-card-content class="menu-bar-item">
          <ion-img src="home_bar_icon.png" class="image-size" (click)="GoToHomePage()"></ion-img>
          <a class="text-menu">Home</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="user_icon.png" class="image-size" (click)="GoToProfile()"></ion-img>
          <a class="text-menu">Profile</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="home_icon.png" class="image-size" (click)="GoToHomesForRent()"></ion-img>
          <a class="text-menu">Rent</a>
        </ion-card-content>
        <ion-card-content class="menu-bar-item">
          <ion-img src="sign_out.png" class="image-size" (click)="GoToLogIn()"></ion-img>
          <a class="text-menu">Exit</a>
        </ion-card-content>
      </ion-card>

    </div>
  </ion-content>
</body>